[Unit]
Description="A job that increases cpu fans when core temperature reaches 35C"

[Install]
WantedBy=multi-user.target

[Service]
TimeoutSec=infinity
ExecStart=/usr/local/bin/fanctl.sh